/.vscode
/__pycache__
__pycache__/archivos.cpython-312.pyc
__pycache__/especialidades.cpython-312.pyc
__pycache__/inputs.cpython-312.pyc
__pycache__/profesionales.cpython-312.pyc
__pycache__/turnos.cpython-312.pyc
